/* src/styles.css
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    cursor: pointer;
} */

/* src/styles.css */
/* table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    margin-left: 5px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 0.8em;
} */

/* src/App.css */
/* table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
} */

/* src/App.css */
table {
  width: 90%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 9px;
}

th {
  background-color: #f2f2f2;
}
.space {
  margin-left: 5px;
  padding: 1.3em 3em;
  font-size: 10px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
}
.sp {
  margin-left: 16%;
  background-color: rgb(231, 50, 50);
  font-size: 16px;
  border-style: solid;
}
.up {
  margin-top: 2%;
}
/* button {
  margin: 5px;
} */
/* From Uiverse.io by cssbuttons-io */
/* Button {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  color: #000;
  background-color: #fff;

  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
} */

/* Button:hover {
    background-color: #d25272;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  } */

/* Button:active {
    transform: translateY(-1px);
  } */
